Final/SistemaHoteleiro/Visao/Service References/ServicoReserva/ServicoReserva2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelo.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelo.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoriaDeQuarto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDeQuarto" nillable="true" type="tns:CategoriaDeQuarto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDeQuarto" nillable="true" type="tns:ArrayOfCategoriaDeQuarto" />
  <xs:complexType name="CategoriaDeQuarto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDaDiaria" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDeQuarto" nillable="true" type="tns:CategoriaDeQuarto" />
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaDeQuarto" nillable="true" type="tns:CategoriaDeQuarto" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="DataFim" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Estado" type="tns:Reserva.EstadoDeReserva" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:simpleType name="Reserva.EstadoDeReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ativa" />
      <xs:enumeration value="Cancelada" />
      <xs:enumeration value="Efetivada" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Reserva.EstadoDeReserva" nillable="true" type="tns:Reserva.EstadoDeReserva" />
</xs:schema>