Final/SistemaHoteleiro/Visao/Service References/ServicoReserva/ServicoReserva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoReserva.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoReserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoReserva_ObterCategoriasDeQuarto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCategoriasDeQuarto" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterCategoriasDeQuarto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterCategoriasDeQuartoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ConsultarDisponibilidade_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDisponibilidade" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ConsultarDisponibilidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDisponibilidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ReservarQuarto_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservarQuarto" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ReservarQuarto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarQuartoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ConsultarReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarReservas" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ConsultarReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarReservasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterReservas" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterReservasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReservasParaCheckin_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterReservasParaCheckin" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReservasParaCheckin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterReservasParaCheckinResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterReserva" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_ObterReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_CancelarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarReserva" />
  </wsdl:message>
  <wsdl:message name="IServicoReserva_CancelarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoReserva">
    <wsdl:operation name="ObterCategoriasDeQuarto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ObterCategoriasDeQuarto" message="tns:IServicoReserva_ObterCategoriasDeQuarto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ObterCategoriasDeQuartoResponse" message="tns:IServicoReserva_ObterCategoriasDeQuarto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDisponibilidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ConsultarDisponibilidade" message="tns:IServicoReserva_ConsultarDisponibilidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ConsultarDisponibilidadeResponse" message="tns:IServicoReserva_ConsultarDisponibilidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservarQuarto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ReservarQuarto" message="tns:IServicoReserva_ReservarQuarto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ReservarQuartoResponse" message="tns:IServicoReserva_ReservarQuarto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ConsultarReservas" message="tns:IServicoReserva_ConsultarReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ConsultarReservasResponse" message="tns:IServicoReserva_ConsultarReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ObterReservas" message="tns:IServicoReserva_ObterReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ObterReservasResponse" message="tns:IServicoReserva_ObterReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterReservasParaCheckin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ObterReservasParaCheckin" message="tns:IServicoReserva_ObterReservasParaCheckin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ObterReservasParaCheckinResponse" message="tns:IServicoReserva_ObterReservasParaCheckin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/ObterReserva" message="tns:IServicoReserva_ObterReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/ObterReservaResponse" message="tns:IServicoReserva_ObterReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoReserva/CancelarReserva" message="tns:IServicoReserva_CancelarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoReserva/CancelarReservaResponse" message="tns:IServicoReserva_CancelarReserva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoReserva" type="tns:IServicoReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterCategoriasDeQuarto">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ObterCategoriasDeQuarto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDisponibilidade">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ConsultarDisponibilidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarQuarto">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ReservarQuarto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservas">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ConsultarReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterReservas">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ObterReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterReservasParaCheckin">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ObterReservasParaCheckin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterReserva">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/ObterReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarReserva">
      <soap:operation soapAction="http://tempuri.org/IServicoReserva/CancelarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoReserva">
    <wsdl:port name="BasicHttpBinding_IServicoReserva" binding="tns:BasicHttpBinding_IServicoReserva">
      <soap:address location="http://localhost:23755/Servico/ServicoReserva.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>