Lab1/Lab1WebApplication/Lab1WebApplication/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComplexMethod">
        <s:complexType />
      </s:element>
      <s:element name="ComplexMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComplexMethodResult" type="tns:ArrayOfResultadoJogo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResultadoJogo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultadoJogo" nillable="true" type="tns:ResultadoJogo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoJogo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="golCasa" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="golVisitante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="casa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="visitante" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ComplexMethodSoapIn">
    <wsdl:part name="parameters" element="tns:ComplexMethod" />
  </wsdl:message>
  <wsdl:message name="ComplexMethodSoapOut">
    <wsdl:part name="parameters" element="tns:ComplexMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <wsdl:input message="tns:ComplexMethodSoapIn" />
      <wsdl:output message="tns:ComplexMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <soap:operation soapAction="http://tempuri.org/ComplexMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMethod">
      <soap12:operation soapAction="http://tempuri.org/ComplexMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:53189/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:53189/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>