Final/SistemaHoteleiro/Visao/Service References/ServicoRelatorio/ServicoRelatorio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23755/Servico/ServicoRelatorio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo.Dominio" />
  <xs:element name="ObterQuartos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo.Dominio" minOccurs="0" name="ObterQuartosResult" nillable="true" type="q1:ArrayOfQuarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosEmLimpeza">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosEmLimpezaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo.Dominio" minOccurs="0" name="ObterQuartosEmLimpezaResult" nillable="true" type="q2:ArrayOfQuarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoriaDeQuartoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelo.Dominio" minOccurs="0" name="ObterQuartosPorCategoriaResult" nillable="true" type="q3:ArrayOfQuarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosDisponiveisPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuartosDisponiveisPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelo.Dominio" minOccurs="0" name="ObterQuartosDisponiveisPorPeriodoResult" nillable="true" type="q4:ArrayOfQuarto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterFaturamentoPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterFaturamentoPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterFaturamentoPorPeriodoResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>