Final/SistemaHoteleiro/Visao/Service References/ServicoRelatorio/ServicoRelatorio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoRelatorio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoRelatorio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoRelatorio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23755/Servico/ServicoRelatorio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoRelatorio_ObterQuartos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartos" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosEmLimpeza_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosEmLimpeza" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosEmLimpeza_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosEmLimpezaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosDisponiveisPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosDisponiveisPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterQuartosDisponiveisPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterQuartosDisponiveisPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterFaturamentoPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterFaturamentoPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="IServicoRelatorio_ObterFaturamentoPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterFaturamentoPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoRelatorio">
    <wsdl:operation name="ObterQuartos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartos" message="tns:IServicoRelatorio_ObterQuartos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosResponse" message="tns:IServicoRelatorio_ObterQuartos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosEmLimpeza">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosEmLimpeza" message="tns:IServicoRelatorio_ObterQuartosEmLimpeza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosEmLimpezaResponse" message="tns:IServicoRelatorio_ObterQuartosEmLimpeza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosPorCategoria" message="tns:IServicoRelatorio_ObterQuartosPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosPorCategoriaResponse" message="tns:IServicoRelatorio_ObterQuartosPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosDisponiveisPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosDisponiveisPorPeriodo" message="tns:IServicoRelatorio_ObterQuartosDisponiveisPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterQuartosDisponiveisPorPeriodoResponse" message="tns:IServicoRelatorio_ObterQuartosDisponiveisPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterFaturamentoPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterFaturamentoPorPeriodo" message="tns:IServicoRelatorio_ObterFaturamentoPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoRelatorio/ObterFaturamentoPorPeriodoResponse" message="tns:IServicoRelatorio_ObterFaturamentoPorPeriodo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoRelatorio" type="tns:IServicoRelatorio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterQuartos">
      <soap:operation soapAction="http://tempuri.org/IServicoRelatorio/ObterQuartos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosEmLimpeza">
      <soap:operation soapAction="http://tempuri.org/IServicoRelatorio/ObterQuartosEmLimpeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicoRelatorio/ObterQuartosPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterQuartosDisponiveisPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/IServicoRelatorio/ObterQuartosDisponiveisPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFaturamentoPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/IServicoRelatorio/ObterFaturamentoPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoRelatorio">
    <wsdl:port name="BasicHttpBinding_IServicoRelatorio" binding="tns:BasicHttpBinding_IServicoRelatorio">
      <soap:address location="http://localhost:23755/Servico/ServicoRelatorio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>